language: generic 
sudo: required
services: 
  - docker

before_install: 
  - docker build -t lbo32/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true lbo32/docker-react npm run test 

deploy:
  provider: elasticbeanstalk
  reagion: "eu-west-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-eu-west-2-972869154778"
  bucket_path: "docker-react"
  on:
    branch: "master"
access_key_id: $AWS_ACCESS_KEY
secret_access_key: $AWS_SECRET_KEY

  